<div class="container log">
  <div class="create-user">
  	<form class="form-signin" role="form" action="/create_user" method="post">
  		<h2 class='create-title'> </h2>
  		<input name="username" type="username" class="form-control username"	placeholder="USERNAME" required="">
  		<input name="password" type="password" class="form-control password"	placeholder="PASSWORD" required="">
  		<input name="email" type="email" class="form-control email" placeholder="EMAIL" required=""
  		>
  		<button class="sidebutton" type="submit"> GO! </button>
    </form>
  </div>
</div>