<div class="container log">
  <div class="login">
  	<form class="form-signin" role="form" action="/login" method="post">
  		<h2 class='login-title'> </h2>
  		<input name="username" type="username" class="form-control username"	placeholder="USERNAME" required="">
  		<input name="password" type="password" class="form-control password"	placeholder="PASSWORD" required="">
  		<button class="sidebutton" type="submit"> GO! </button>
  		<a class="signup click" href = "/create_user"> New to this? create an account! </a>
    </form>
  </div>
</div>
