<div class="container index">
  <div class="logo">
    <h2 class="curved-text">MAKE</h2>
    <h2 class="curved-text-under">SHIFT</h2>
    <div class="left_side"></div>
    <div class="right_side"></div>
    <div class="outer-rim"></div>
  </div>
</div>

